*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.shape {
    width: 100%;
    height: 400px;
    background-color: #c23737;
    /* transform: rotate(45deg); */
    border-radius: 0px 0px 100% 0px;
    /* transform: translate(10%,0%); */
  }
  .header{
    display: flex;
    flex-direction: row;
   /* gap: 20em; */
background-color: black;
height: 70px;
border-radius: 0px 0px 20px 0px;
  }
  .logo-pic{
    margin-top: .5em;
    margin-left: 2em;
  }
  ul{
    display: flex;
    flex-direction: row;
    gap: 1em;
   padding-top: 1.4em;
  }
  .navbar{
    margin-left: 39em;
  }
  li {
    list-style: none;
    font-size: 20px;
  }
  a{
    text-decoration: none;
    color: white;
  }
   a:hover{
    border-bottom: 2px solid #c23737;
   }
   .active{
    border-bottom: 2px solid #c23737 ;
   }
.image{
    margin-top: -27em;
    height: 470px;
    float: right;
    transform: rotateX(20deg);
    animation: move-right 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes move-right {
    0%{
        transform: translateY(0%);
        opacity: 0;
    }
    100%{
        transform: translateY(-3%);
        opacity: 1;
    }
}
   
  
    .info{
    
        width: 400px;
        margin-left: 10em;
        animation: move-left 1s forwards;
        animation-duration: 1s;
        opacity: 0;
    }
    @keyframes move-left {
0%{
    transform: translateX(-100%);
    opacity: 0;
}        
100%{
    transform: translateX(0%);
    opacity: 1;
}
    }
.line{
    color: white;
    padding: 1em;
    font-size: 20px;
}
h1{
    font-size: 45px;
    /* text-align: right; */
    color:black;
}
  
h5{
    /* text-align: right; */
    font-size: 40px;
    color: white;
}
button{
    height: 40px;
    width: 120px;
   font-size: 20px;
   border:  transparent;
   margin-top: 1em;
}
  .btn{
    background-color: black;
    color: white;
  }
  .btn2{
    background-color: white;
    color: #c23737;
  }
  .paragraph{
    color: white;
    padding-left: 2em;
  }

  h4{
    color:#c23737;
    font-weight: bold;
    font-size: 30px;
    padding-left: 1em;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .SPN{
    visibility:hidden ;
    color: white;
  }
  .new-collection{
   background-color: white;
    height: 120vh;
    margin-top: 2em;
    width: 100%;
  }
  #new{
    font-size: 40px;
    padding: .7em 0 0 4em;
  }
  .new{
    padding: .7em 0 0 8em;
    font-size: 20px;
    width: 900px;
  }
  .photo{
    height: 70vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
  }

  .one{
    height: 74vh;
    width: 40%;
    background-color: white;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.495);
    position: absolute;
    margin-left: 30em;
    margin-top: 3em;

  }
  .two{
    height: 70vh;
    width: 50%;
    background-color:white;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.495);
    position:relative;
    /* margin-top: 5em; */
    margin-left: 4em;
  }
  .one-img{
   margin: 4em;
  }
  .sp{
    height: 100px;
    width: 10em;
    margin-top: -5em;
    margin-left: 10em;
  }
  .men{
    text-align: center;
    font-size: 30px;
    padding-top: .1em;
    border-bottom: 1px solid black  ;
  }
  .dollar{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
  }
  .price{
    color: #c23737;
  }
  .stars{
    color:rgb(255, 153, 0);
    font-size: 20px;
    text-align: center;
  }
  .race{
    height: 120vh;
    width: 100%;
    background-color: white;
  }
  .boot{
    height: 90vh;
    width: 80%;
    background-color:rgba(128, 128, 128, 0.395);
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
  }
  .pict, .detail{
    height: 90vh;
    width: 50%;
  }
  .detail{
    padding-left: 7em;
  }
  .jod{
    font-size: 80px;
    width: 90px;
  }
  #jod{
    color: #c23737;
  }
  .boot-btn{
    height: 40px;
    width: 120px;
    background-color: #c23737;
    color: white;
  }
.arrival{
  height: 156vh;
  width: 100%;
  background-color:
  #ff4f5b
  ;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.row{
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content:center;
  background-color: #ff4f5b;
}
.best{
  height: 60vh;
  width: 25%;
  background-color: white ;
}
.picture{
  margin-top: 2em;
  margin-left: 5em;
}
.best-sh{
  font-size: 20px;
  text-align: center;
  padding-top: .4em;
}
.rating{
  display: flex;
  flex-direction: row ;
  margin-top: 2em;
}
#star{
  font-size: 20px;
  color: rgb(255, 174, 0);
  padding-left: 1em;
}
.dol{
  font-size: 25px;
  padding-left: 5em;
  padding-top: .2em;
}
.main{
  height: 90vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.form, .last{
  height: 87vh;
  width: 45%;
  margin: 0 auto;
}
.form{
  background-color: black;
}
.inp{
  display: flex;
  flex-direction:column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
input {
  height: 50px;
  width: 90%;
  font-size: 20px;
  padding-left: 1em;
  outline: none;
}
textarea{
  height: 50px;
  width: 90%;
  padding-left: 1em;
  font-size: 22px;
  padding-top: 1em;
}
.send{
  height: 50px;
  width: 120px;
  margin-top: -.7em;
  background-color: #ff4f5b;
  color: white  ;
  cursor: pointer;
}
.last-pic{
   height: 100%;
   width: 100%;
}
.h-2{
  color: white;
  text-align: center;
  padding-top: .5em;
}
.footer{
  background-color: black;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
  margin-top: 2em;
  color: white;
}
.add{
  height: 50vh;
  width: 260px;
}
.h-6{
  font-size: 26px;
  padding-left: 2em;
  line-height: 3em;
}
.list-item{
  font-size: 18px;
  line-height: 26px;
  padding-left: 3em;
}
.pp{
  width: 130px;
  padding-left: 2em;
  padding-top: 1em;
  text-transform: capitalize;
}
#pict{
  margin-left: 1em;
}
.bg{
  background-color: #ff4f5b;
  color: white;
  text-align: center;
  font-size: 30px;
}